*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0,0,0.75),rgba(0,0,0,0.75)), url(./image/pexels-heyho-7535007.jpg);
    background-size: cover;
    background-position: center;

}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;

}
.logo{
    width: 120px;
    cursor: pointer;
    color: #ffffff;
}
.navbar ul li{
    list-style: none;
    margin: 0 20px;
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}
.navbar ul li::after{
    height: 3px;
    width: 100%;
    /* background-color: green; */
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.order{
    transition: color 1s text-decoration 1s;
    background-color: #30302F;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.order:hover{
    color: #c71a1a;
    text-decoration: none;
}
.code{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0,0,0.75),rgba(0,0,0,0.75)), url(./image/pexels-binyaminmellish-1396122.jpg);
    background-size: cover;
    background-position: center;

}
.ola{
    width: 100%;
    position: absolute;
    margin-top: 300px ;
    transform: translateY(-50%);
    text-align: center;
    color: #f3f1f1;
}
.ola h1{
    margin-bottom: 10px;
    font-family: "DM Serif Text", serif;
}
.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}
.bold{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0,0,0.75),rgba(0,0,0,0.75)), url(./image/pexels-expect-best-79873-323780.jpg);
    background-size: cover;
    background-position: center;

}
.content span button{
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin-top: 20px;
    color: rgb(251, 249, 249);
    background-color: #070707;
    border: #397EF6;
    padding: 10px 10px;
    border-radius: 10px;
    border-color: #fff;
    box-sizing: border-box;
}

.menu{
    display: none;
}
@media screen and (max-width: 850px) {
    .navbar ul{
        display: none;
    }
    .menu{
        display: block;
        background-color: #f3f1f1;
    }


}
